body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#pdf-app {
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upload-section {
    margin-top: 50px;
}

#upload-btn {
    background-color: white;
    color: black;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#upload-label {
    display: block;
    margin-top: 10px;
}

#loading-message, #progress-message, #file-size-message {
    margin-top: 10px;
    color: yellow;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pdf-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

canvas {
    width: 100%;
    max-height: 100vh;
    border: 1px solid #ccc;
}

#fullscreen-btn, #exit-fullscreen-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#navigation {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

#page-num-display {
    font-size: 18px;
}

#controls {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
